// FONTS
@font-face {
	font-family: Lora;
	src: url(./Assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
	font-family: Lora-bold;
	src: url(./Assets/fonts/Lora/static/Lora-Bold.ttf);
}
//COLORS
$color-black: #000000;
$dark-green: #053b06;
$medium-green: #0b5d1e;
$color-green: #139a43;
$light-green: #0dab76;
